* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
  padding: 16px;
}

.menu {
  border: 1px solid white;
  color: white;
  padding: 16px;
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 48px;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 15px;
  /*equals to width: 192px*/
  flex-basis: 192px;
  height: 480px;
  background-color: lightgray;
}

.article-title {
  height: 75px;
  background-color: gray;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: black;
}

.footer-item {
  border: 1px solid white;
  padding: 12px;
  width: 384px;
  color: white;
}